name: Build and Deploy Next.js to Azure

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Install dependencies
        run: npm install

      - name: Build Next.js (Standalone)
        run: |
          echo "module.exports = { output: 'standalone' };" > next.config.js
          npm run build

      - name: Prepare deploy folder
        run: |
          mkdir deploy
          cp -r .next/standalone deploy/
          cp -r .next/static deploy/.next/static
          cp -r public deploy/public
          cp package.json deploy/package.json
          cp next.config.js deploy/next.config.js

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: next-app-artifact
          path: deploy

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: next-app-artifact
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_525D5C8CEFCB4DEBA00ECC40C051DE2F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_74E83D456377429BA08676EF77AAD909 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E0A5AFDE341447F084104DE34786505C }}

      - name: Zip deployment folder
        run: zip -r release.zip .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'elinity-ai-oracle'
          slot-name: 'Production'
          package: release.zip
